<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB6pop9hmASL8ikAUMtxT6JrxDZdR_7gFY</string>
	<key>GCM_SENDER_ID</key>
	<string>395402125419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>WP.MilkApp</string>
	<key>PROJECT_ID</key>
	<string>milk-39cd2</string>
	<key>STORAGE_BUCKET</key>
	<string>milk-39cd2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395402125419:ios:e4da0c2716d1b4e5ed112e</string>
</dict>
</plist>